In [7]:
import pandas as pd
import numpy as np

In [9]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [11]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

In [13]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [15]:
np.sin(df * np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000

In [21]:
area = pd.Series({'Mumbai': 1723337, 'Kolkata': 695662,
                  'Delhi': 423967}, name='Chennai')
population = pd.Series({'Mumbai': 38332521, 'Kolkata': 26448193,
                        'Delhi': 19651127}, name='Chennai')

In [23]:
population / area

Mumbai     22.243195
Kolkata    38.018740
Delhi      46.350605
Name: Chennai, dtype: float64

In [25]:
area.index | population.index

Index(['Mumbai', 'Kolkata', 'Delhi'], dtype='object')

In [27]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [29]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A  B
0  18  6
1   8  6

In [32]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  1  5  5
1  9  3  5
2  1  9  1

In [34]:
A + B

      A     B   C
0  23.0   7.0 NaN
1  11.0  15.0 NaN
2   NaN   NaN NaN

In [36]:
A = rng.randint(10, size=(3, 4))
A

array([[8, 0, 8, 6],
       [8, 7, 0, 7],
       [7, 2, 0, 7]])

In [38]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  0  7 -8  1
2 -1  2 -8  1

In [39]:
halfrow = df.iloc[0, ::2]
halfrow

Q    8
S    8
Name: 0, dtype: int32